doctype html
head
  title EOS Table
form(method='post' action='table/data')
  center
    h4 Enter the Scope name
    input(type='text' name='inp1')
    br
    h4 Enter the Code name
    input(type='text' name='inp2')
    br
    h4 Enter the Table name
    input(type='text' name='inp3')
    br
    input(type='submit')

